.content {
  margin: auto;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  background-image: url("/images/me_in_8bit.png");
  background-position: right top;
  background-size: 300px;
  background-repeat: no-repeat;
}

hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
}

.title-area-content {
  font-family: Algerian;
  font-size: xx-large;
  margin-bottom: 150px;
}

.middle-table {
  vertical-align: top;
  font-family: "Book Antiqua"
}
.middle-table>strong {
  font-weight: bolder;
}


.left-menu-content {
  width: 150px;
  height: 500px;
  background-color: steelblue;
  padding: 10px;
  color: white;
}


.left-menu-content>h2 {
  font-family: Algerian;
}
.left-menu-content>hr {
  border: none;
  height: 2px;
  color: black;
  background-color: white;
}

.center-menu-content {
  width: 600px;
  height: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  padding: 10px;
  font-size: medium;
}

.center-menu-content>h2 {
  font-family: Algerian;
}

.right-menu-content {
  width: 150px;
  height: 500px;
  background-color: darkorange;
  padding: 10px;
  color: white;
}
.right-menu-content>hr {
  border: none;
  height: 2px;
  color: black;
  background-color: white;
}

.right-menu-content>h2 {
  font-family: Algerian;
}

.footerContent {
  width: 969px;
  border-style: dashed;
  border-color: darkolivegreen;
  border-width: 5px;
  padding-bottom: 75px;
}

.name {
  text-align: left;
}

.job-title {
  text-align: left;
}

.left {
  text-align: left;
}


.horizontal-line-bottom-space {
  margin-bottom: 20px;

}

.top-right-image {
  float: right;
  width: 300px;
}

#menu-title {
  text-align: center;
  color: white;
}

.lists {
  font-family: "Book Antiqua";
  font-size: x-large;
}

.strong-text{
  font-weight: bolder;
}

#floating {
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: darkred;
  float: right;
  background-repeat: no-repeat;
}

